<nav style="background-color: #222; padding: 1rem;">
  <a href="/index.html" style="color: #fff; margin-right: 15px; text-decoration: none;">Welcome</a>
  <a href="/about.html" style="color: #fff; margin-right: 15px; text-decoration: none;">About Me</a>
  <a href="/reports/" style="color: #fff; margin-right: 15px; text-decoration: none;">Reports</a>
  <a href="/writeups/" style="color: #fff; margin-right: 15px; text-decoration: none;">Writeups</a>
  <a href="/labs/" style="color: #fff; margin-right: 15px; text-decoration: none;">Labs</a>
  <a href="/reviews/" style="color: #fff; margin-right: 15px; text-decoration: none;">Reviews</a>
</nav>
